<div class="py-4 container px-sm-5 d-flex flex-column">
	<div *ngIf="isLoading" class="loading-overlay">
		<mat-spinner [diameter]="50"></mat-spinner>
	</div>
	<div class="card p-3 mb-2">
		<div>
			Submit a free classified ad to <b>sell your books for cash</b>
		</div>
	</div>
	<div class="card form-card">
		<div
			*ngIf="!isLoggedIn"
			class="d-flex flex-column gap-1"
			[formGroup]="novelForm"
		>
			<h5>Book Details:</h5>
			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Ad Title </span>
				<div>
					<input
						placeholder="Enter your ad title"
						formControlName="title"
						type="text"
					/>
					<mat-error
						*ngIf="
							novelForm.get('title')?.invalid &&
							novelForm.get('title')?.touched
						"
						>Please enter a valid title</mat-error
					>
				</div>
			</div>
			<!-- <div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Book Details </span>
				<mat-radio-group
					aria-label="Select an option"
					class="d-flex flex-column"
				>
					<mat-radio-button value="1"
						>Enter Book details manually</mat-radio-button
					>
					<mat-radio-button value="2"
						>Automatically; by just typing the ISBN
						number</mat-radio-button
					>
				</mat-radio-group>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">ISBN </span>
				<div class="d-flex flex-column">
					<input
						placeholder="Enter 13 digit ISBN number"
						class="w-100"
					/>
					<button mat-flat-button>Get Book Details</button>
				</div>
			</div> -->

			<div class="my-2">
				<label class="pe-3">Category</label>
				<button
					mat-button
					[matMenuTriggerFor]="categoryMenu"
					class="rect-button"
				>
					{{ novelForm.get('category')?.value || 'Select Category' }}
				</button>
				<mat-menu #categoryMenu="matMenu">
					<button
						mat-menu-item
						*ngFor="let category of categories"
						(click)="selectCategory(category.name)"
					>
						{{ category.name }}
					</button>
				</mat-menu>
				<mat-error
					*ngIf="
						novelForm.get('category')?.invalid &&
						novelForm.get('category')?.touched
					"
				>
					Category is required.
				</mat-error>
			</div>

			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Author </span>
				<div>
					<input
						placeholder="Enter the author"
						formControlName="author"
						type="text"
					/>
					<mat-error
						*ngIf="
							novelForm.get('author')?.invalid &&
							novelForm.get('author')?.touched
						"
						>Please enter a valid author</mat-error
					>
				</div>
			</div>

			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Book Condition (used) </span>
				<mat-radio-group
					aria-label="Select an option"
					formControlName="bookCondition"
				>
					<mat-radio-button [value]="BookConditions.Excellent"
						>Excellent</mat-radio-button
					>
					<mat-radio-button [value]="BookConditions.Good"
						>Good</mat-radio-button
					>
					<mat-radio-button [value]="BookConditions.Fair">
						Fair
					</mat-radio-button>
				</mat-radio-group>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Upload Photos </span>
				<mat-form-field appearance="outline" class="full-width">
					<input
						type="file"
						#fileInput
						(change)="onFilesSelected($event)"
						style="display: none"
						multiple
					/>
					<input
						matInput
						placeholder="Choose files"
						[value]="fileNames"
						readonly
						(click)="fileInput.click()"
					/>
					<mat-icon matSuffix>attach_file</mat-icon>
				</mat-form-field>
			</div>
			<div class="form-group d-flex align-items-baseline mt-2">
				<span class="pe-4">Quantity Available(Stock) </span>
				<div>
					<div class="d-flex align-items-center cursor-pointer">
						<input
							placeholder="Enter total quantity"
							formControlName="totalQuantity"
							type="number"
						/>
					</div>
					<mat-error
						*ngIf="
							novelForm.get('totalQuantity')?.invalid &&
							novelForm.get('totalQuantity')?.touched
						"
						>Please enter a valid Quantity</mat-error
					>
				</div>
			</div>

			<hr />
			<h5>Pricing Details:</h5>
			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Your Price(&#8377;) </span>
				<div>
					<div class="d-flex flex-column">
						<input
							placeholder="Enter your ad price"
							formControlName="price"
							type="number"
						/>
					</div>
					<mat-error
						*ngIf="
							novelForm.get('price')?.invalid &&
							novelForm.get('price')?.touched
						"
						>Please enter a valid price</mat-error
					>
				</div>
			</div>
			<!-- <div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Your shipping charges to buyer </span>
				<div class="d-flex align-items-center">
					<input class="w-100" /> or
					<mat-checkbox>Free Shipping</mat-checkbox>
				</div>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Preferred payment mode </span>
				<div class="d-flex flex-column">
					<div>
						After your book is sold, in what mode would you like to
						receive the payment?
					</div>
					<div>
						<mat-radio-group aria-label="Select an option">
							<mat-radio-button value="1"
								>UPI Number</mat-radio-button
							>
							<mat-radio-button value="2"
								>Bank Account</mat-radio-button
							>
						</mat-radio-group>
					</div>
				</div>
			</div> -->
		</div>
		<div class="d-flex justify-content-center gap-4 mt-3">
			<button
				mat-flat-button
				class="post-ad-btn buy-add-btn"
				(click)="postAd()"
				type="submit"
				[disabled]="!novelForm.valid"
			>
				Post Ad
			</button>
			<button
				mat-flat-button
				class="post-ad-btn buy-add-btn"
				(click)="resetForm()"
				type="button"
			>
				Reset Form
			</button>
		</div>
		<div
			*ngIf="isLoggedIn"
			class="d-flex flex-column align-items-center"
		></div>
	</div>
</div>
