.form-card {
	padding: 2rem 10rem;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
	height: 3rem;
}

.post-ad-btn {
	width: 10rem;
}

.rect-button {
	border-radius: 0;
}
.image-preview img {
	max-width: 150px;
	height: auto;
	display: block;
	margin: 5px 0;
}
