<div class="py-4 container px-sm-5 d-flex flex-column">
	<div class="card p-3 mb-2">
		<div class="">
			Submit a free classified ad to <b>sell your books for cash</b>
		</div>
	</div>
	<div class="card form-card book-details-container">
		<div
			*ngIf="!isLoggedIn"
			class="d-flex flex-column gap-1"
			[formGroup]="novelForm"
		>
			<h5>Book Details:</h5>
			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Ad Title </span>
				<input
					placeholder="Enter your ad title"
					formControlName="title"
					type="text"
				/>
			</div>
			<!-- <div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Book Details </span>
				<mat-radio-group
					aria-label="Select an option"
					class="d-flex flex-column"
				>
					<mat-radio-button value="1"
						>Enter Book details manually</mat-radio-button
					>
					<mat-radio-button value="2"
						>Automatically; by just typing the ISBN
						number</mat-radio-button
					>
				</mat-radio-group>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">ISBN </span>
				<div class="d-flex flex-column">
					<input
						placeholder="Enter 13 digit ISBN number"
						class="w-100"
					/>
					<button mat-flat-button>Get Book Details</button>
				</div>
			</div> -->

			<div class="my-2">
				<label class="pe-3">Category</label>
				<button mat-button [matMenuTriggerFor]="categoryMenu" class="rect-button">
					{{ novelForm.get('category')?.value || 'Select Category' }}
				</button>
				<mat-menu #categoryMenu="matMenu">
					<button
						mat-menu-item
						*ngFor="let category of categories"
						(click)="selectCategory(category.name)"
					>
						{{ category.name }}
					</button>
				</mat-menu>
				<div
					*ngIf="
						novelForm.get('category')?.invalid &&
						novelForm.get('category')?.touched
					"
				>
					Category is required.
				</div>
			</div>

			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Author </span>
				<input
					placeholder="Enter the author"
					formControlName="author"
					type="text"
				/>
			</div>

			<!-- <div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Book Condition (used) </span>
				<mat-radio-group aria-label="Select an option">
					<mat-radio-button value="1">Excellent</mat-radio-button>
					<mat-radio-button value="2">Good</mat-radio-button>
					<mat-radio-button value="3">Fair</mat-radio-button>
				</mat-radio-group>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Upload Photos </span>
				<mat-form-field appearance="outline" class="full-width">
					<input
						type="file"
						#fileInput
						(change)="onFilesSelected($event)"
						style="display: none"
						multiple
					/>
					<input
						matInput
						placeholder="Choose files"
						[value]="fileNames"
						readonly
						(click)="fileInput.click()"
					/>
					<mat-icon matSuffix>attach_file</mat-icon>
				</mat-form-field>

				<button
					mat-raised-button
					color="accent"
					(click)="onUpload()"
					[disabled]="!selectedFiles.length"
				>
					Upload
				</button>
			</div> -->
			<div class="form-group d-flex align-items-baseline mt-2">
				<span class="pe-4">Quantity Available(Stock) </span>
				<div class="d-flex align-items-center cursor-pointer">
					<mat-form-field appearance="outline" class="quantity-field">
						<mat-select formControlName="quantity" type="number">
							<mat-option
								*ngFor="let qty of quantities"
								[value]="qty"
							>
								{{ qty }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<hr />
			<h5>Pricing Details:</h5>
			<div class="form-group d-flex align-items-baseline my-2">
				<span class="pe-4">Your Price(&#8377;) </span>
				<div class="d-flex flex-column">
					<input
						placeholder="Enter your ad price"
						formControlName="price"
						type="number"
					/>
				</div>
			</div>
			<!-- <div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Your shipping charges to buyer </span>
				<div class="d-flex align-items-center">
					<input class="w-100" /> or
					<mat-checkbox>Free Shipping</mat-checkbox>
				</div>
			</div>
			<div class="form-group d-flex align-items-baseline">
				<span class="pe-4">Preferred payment mode </span>
				<div class="d-flex flex-column">
					<div>
						After your book is sold, in what mode would you like to
						receive the payment?
					</div>
					<div>
						<mat-radio-group aria-label="Select an option">
							<mat-radio-button value="1"
								>UPI Number</mat-radio-button
							>
							<mat-radio-button value="2"
								>Bank Account</mat-radio-button
							>
						</mat-radio-group>
					</div>
				</div>
			</div> -->
			<button mat-flat-button class="post-ad-btn" (click)="postAd()">
				Post Ad
			</button>
		</div>
		<div
			*ngIf="isLoggedIn"
			class="d-flex flex-column align-items-center"
		></div>
	</div>
</div>
