<div class="d-flex align-items-center justify-content-center gap-3">
	<div (click)="goToMainPage()" class="cursor-pointer">
		<img src="novel-nest-logo.png" alt="logo" height="120" />
	</div>
	<input
		class="search-input"
		type="text"
		placeholder="Book Name / Author / Subject / Publisher"
	/>
	<button mat-flat-button class="primary">Search</button>
	<button mat-flat-button (click)="goToSellUsedBooks()">
		Sell Used Books
	</button>
	<div
		[matMenuTriggerFor]="menu"
		class="d-flex flex-column align-items-center cursor-pointer"
	>
		<mat-icon>person</mat-icon>
		My Account
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="openLoginSignup()">
				<mat-icon>lock</mat-icon>Login /Sign Up
			</button>
			<button mat-menu-item (click)="goToBuyBooks()">
				<mat-icon>menu_book</mat-icon>Browse Top Book Categories
			</button>
			<button mat-menu-item><mat-icon>person</mat-icon>My Profile</button>
			<button mat-menu-item>
				<mat-icon>inventory_2</mat-icon>My Orders
			</button>
			<button mat-menu-item>
				<mat-icon>savings</mat-icon>My Selling Orders
			</button>
			<button mat-menu-item><mat-icon>favorite</mat-icon>Wishlist</button>
		</mat-menu>
	</div>
	<div
		class="d-flex flex-column align-items-center cursor-pointer"
		(click)="goToCart()"
	>
		<mat-icon>shopping_cart</mat-icon>
		Cart
	</div>
</div>
