<div class="d-flex flex-column align-items-center mb-5">
	<span class="d-flex justify-content-center mt-4"
		><h4 class="border-bottom">
			Novel Nest - A Student-to-Student Bookstore
		</h4>
	</span>
	<span class="d-flex flex-column text-center w-75 mt-2">
		Are you a college going student and are upset with the increasing number
		of used novels after each new semester, or you are a regular novel reader
		who after reading the novels, keep the old novels on the bookshelves or in
		a cupboard and forget them? If yes, then Novel Nest is just made for
		you! <br />
		Novel Nest is India's leading platform where you can sell used novels
		online. At Novel Nest, we help people to sell their used novels to
		another novel lover just like them at interesting prices. <br />
		Selling and buying novels on Novel Nest is a win-win situation for both
		the buyer and the seller. How? Let's see. As a seller, you can earn some
		good amount of money by selling your old novels (which you don't even
		need) to another person at good prices. And being a buyer, you can save
		some money by buying the second hand novels directly from the novel owner.
		<br />
		<i class="fw-bold">"Selling used second hand novels at your own desired price is not an
		uphill battle anymore. Just sell them on Novel Nest!"</i>
	</span>
</div>
