.cart-badge {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #e0e0e0;
	color: #333;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 1px;
}

.edit-btn {
	position: absolute;
	top: 0px;
	right: 0px;
}

.edit-icon {
	font-size: 20px;
}

.actions button {
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}
.novel-card {
	position: relative;
	width: 250px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-container img {
	border-radius: 8px;
	object-fit: cover;
	margin-bottom: 0.5rem;
}
