<div class="my-4 py-4 container max-width-container">
	<div
		*ngIf="isLoggedIn && myAddresses?.length === 0"
		class="d-flex flex-column align-items-center py-4 px-sm-5 d-flex"
	>
		<img src="address.png" alt="address" height="165" width="165" />
		No address(s) added
		<button mat-button class="buy-add-btn" (click)="addNewAddress()">
			Add a new address
		</button>
	</div>
	<div *ngIf="myAddresses && myAddresses.length > 0">
		<div class="d-flex justify-content-between">
			<h4>ALL ADDRESSES</h4>
			<button mat-button class="buy-add-btn" (click)="addNewAddress()">
				Add a new address
			</button>
		</div>

		<div *ngFor="let address of myAddresses; let i = index">
			{{ i + 1 }}. {{ address }}
			<span *ngIf="i === 0" style="color: green; font-weight: 600">
				(Default)
			</span>
		</div>
	</div>
</div>
