<div class="carousel-container">
	<div class="carousel" #carousel>
		<div class="book-card" *ngFor="let novel of novels">
			<h4>{{ novel.title }}</h4>
			<p>
				<strong>{{ novel.price }}</strong>
			</p>
			<button mat-flat-button (click)="buyNow(novel.id)">Buy Now</button>
		</div>
	</div>
	<button class="prev" (click)="scroll(-200)">❮</button>
	<button class="next" (click)="scroll(200)">❯</button>
</div>
<div class="text-center mt-3">
	<button mat-flat-button (click)="goToBuyBooks()" class="yellow-btn">
		Explore all used books
	</button>
</div>
