<div class="carousel-container">
	<button mat-icon-button (click)="previousSlide()" class="carousel-btn">
		<mat-icon>chevron_left</mat-icon>
	</button>

	<div
		class="carousel-slide"
		*ngFor="let slide of slides; let i = index"
		[hidden]="i !== currentSlide"
	>
		<img [src]="slide.image" alt="Slide {{ i + 1 }}" />
	</div>

	<button mat-icon-button (click)="nextSlide()" class="carousel-btn">
		<mat-icon>chevron_right</mat-icon>
	</button>
</div>
<div class="text-center mt-3">
	<button mat-flat-button>Explore all used books</button>
</div>