<div class="d-flex flex-column align-items-center sell-old-books-container">
	<span class="d-flex justify-content-center mt-4"
		><h4 class="border-bottom">
			How to SELL your old novels online on Novel Nest?
		</h4>
	</span>
	<span class="d-flex flex-column text-center w-75 mt-2">
		Well, you can sell your old used novels very easily on Novel Nest for
		actual cash.
		<br />
		<span class="mt-4"
			>Earning money by selling your old novels is just 3 steps away from
			you <span class="text-primary">:)</span></span
		>
	</span>
	<div class="d-flex gap-4 card-container">
		<div *ngFor="let card of cardDetails">
			<app-card-layout [cardDetails]="card" />
		</div>
	</div>
</div>
<div class="video-container">
	<iframe
		width="1440"
		height="543"
		src="https://www.youtube.com/embed/r-CnQUwQkZI"
		title="NovelNest Project Preview"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen
	></iframe>
</div>
