.sell-old-books-container {
	background-color: #f5f8fa;
}

.card-container {
	margin-top: 32px;
}

.video-container {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f5f8fa;
}

.video-container iframe {
	width: 100%;
	border-radius: 5px;
	max-width: 560px; /* Maintain the original aspect ratio and size */
	height: 315px; /* Maintain the original aspect ratio and size */
}
