<div class="image-container">
	<img src="library-banner.avif" alt="banner-image" />
	<div class="content">
		<h5>Buy, Sell and Exchange Old Books Online in India for Actual Money!</h5>
		At Novel Nest you can buy second hand books and sell old books online at
		best prices.
		<br />
		Selling used books online for cash made easy with us!
		<div class="d-flex justify-content-center gap-4 mt-3">
			<div
				class="buy-sell-btn-divs big-buy-btn cursor-pointer"
				(click)="goToBuyBooks()"
			>
				<div class="big-btns-img">
					<img
						src="buy-books.png"
						alt="buy-books"
						class="contained-buy-img"
					/>
				</div>
				<button mat-flat-button class="buy-sell-btn">Buy Used Books</button>
			</div>
			<div
				class="buy-sell-btn-divs big-sell-btn cursor-pointer"
				(click)="goToSellUsedBooks()"
			>
				<div class="big-btns-img">
					<img
						src="sell-books.png"
						alt="sell-books"
						class="contained-sell-img"
					/>
				</div>
				<button mat-flat-button class="buy-sell-btn">Sell Old Books</button>
			</div>
		</div>
	</div>
</div>
