<div class="py-4 container px-sm-5 d-flex flex-column gap-3">
	<div class="card p-3">
		<div class="">
			<div class="">
				<div class="">My Cart ({{ cartCount }})</div>
			</div>
		</div>
	</div>
	<div class="card p-3">
		<div *ngIf="!isLoggedIn" class="d-flex flex-column align-items-center">
			<mat-icon class="custom-icon-size">lock_person</mat-icon>
			<div class="d-flex">
				<span class="pe-2">Please</span>
				<a href="#" (click)="openLoginDialog($event)">Login / Signup</a>
				<span class="ps-2">First</span>
			</div>
		</div>
		<div
			*ngIf="isLoggedIn && cartCount === 0"
			class="d-flex flex-column align-items-center"
		>
			<mat-icon class="custom-icon-size">shopping_cart</mat-icon>
			The cart is empty.
			<button mat-button (click)="goToBuyBooks()" class="buy-add-btn">
				Start buying now
			</button>
		</div>
		<div *ngIf="isLoggedIn && cartCount > 0">
			<div
				*ngFor="let novel of cartItems; let i = index"
				class="border p-4 d-flex flex-column"
			>
				<div class="cursor-pointer">
					<img
						*ngIf="novel.images?.length"
						[src]="novel.images[0]"
						alt="{{ novel.title }}"
						width="150"
					/>
					<h3 (click)="goToNovelDetails(novel.id)">
						{{ novel.title }}
					</h3>
					<div class="d-flex flex-column gap-2">
						<span *ngIf="novel.author"
							><strong>Author:</strong> {{ novel.author }}</span
						>
						<span><strong>Category:</strong> {{ novel.category }}</span>
						<span class="d-flex align-items-center"
							><strong>Quantity:</strong>
							<button
								mat-icon-button
								(click)="decreaseQuantity(novel)"
							>
								<mat-icon>remove</mat-icon>
							</button>
							<span class="mx-2">{{ novel.quantity }}</span>
							<button
								mat-icon-button
								(click)="increaseQuantity(novel)"
								[disabled]="buyBtnDisabled(novel)"
							>
								<mat-icon>add</mat-icon>
							</button>
						</span>
						<span><strong>Price:</strong> &#8377;{{ novel.price }}</span>
					</div>
					<!-- <div class="d-flex gap-2">
						<button
							mat-flat-button
							(click)="removeNovelFromCart(novel)"
							class="buy-add-btn"
						>
							Remove
						</button>
						<button mat-flat-button (click)="buyNow()" class="buy-add-btn">Buy Now</button>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
