<form class="login-form d-flex flex-column m-4">
	<mat-form-field class="full-width" name="email">
		<mat-label>Email</mat-label>
		<input matInput />
	</mat-form-field>
	<mat-form-field class="full-width" name="password">
		<mat-label>Password</mat-label>
		<input matInput [type]="hidePassword ? 'password' : 'text'" />
		<button
			type="button"
			mat-icon-button
			matSuffix
			(click)="togglePasswordVisibility()"
		>
			<mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>
	</mat-form-field>
	<button type="button" mat-button class="login-signup-btn">Sign Up</button>
</form>
