.ad-banner {
	height: 300px;
	width: 100%;
	background-image: url('../../../../public/ad-banner-img.jpeg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}