<div class="d-flex flex-column align-items-center sell-old-books-container">
	<span class="d-flex justify-content-center mt-4"
		><h4 class="border-bottom">
			How to BUY second hand novels online on Novel Nest?
		</h4>
	</span>
	<span class="d-flex flex-column text-center w-75 mt-2">
		Well, you can buy second hand novels very easily on Novel Nest.
		<br />
		<span class="mt-4"
			>Saving some good amount of money by buying used (preloved) novels is
			just 3 steps away from you
			<span class="text-primary">:)</span></span
		>
	</span>
	<div class="d-flex gap-4 card-container">
		<div *ngFor="let card of cardDetails">
			<app-card-layout [cardDetails]="card" />
		</div>
	</div>
</div>
