.cart-container {
	border-radius: 10px;
}

.payment-container {
	border-radius: 10px;
}

.novel-deets {
	font-size: 14px;
}

.small-text {
	font-size: 14px;
	color: #666;
	margin-top: 5px;
}

.payment-methods img {
	height: 20px;
	margin-left: 10px;
}
