<div class="row p-4 container">
	<div class="col-9">
		<h3 class="mb-4">How would you like to pay?</h3>
		<div class="payment-container border p-3">
			<!-- Delivery Section -->
			<div class="checkout-section">
				<h4>Delivering to <span class="bold">Ashish Kumar</span></h4>
				<p>
					2-F/30, NEHRU NAGAR, Ghaziabad, UttarPradesh, 201001, India
				</p>
				<!-- <a href="#" class="change-link">Change</a> -->
			</div>

			<div class="payment-container">
				<!-- Payment Method -->
				<div class="payment-section">
					<!-- <h3>Payment method</h3> -->

					<!-- Payment Method Section -->
					<!-- <div class="payment-methods">
						<h4>Payment method</h4>
						<mat-radio-group [(ngModel)]="selectedPaymentMethod">
							<div
								*ngFor="let payment of paymentMethods"
								class="payment-option"
							>
								<mat-radio-button
									[value]="payment"
									[checked]="payment.default"
								>
									<span class="bold">{{
										payment.cardName
									}}</span>
									ending in {{ payment.lastFour }}
									<span class="nickname">{{
										payment.nickname
									}}</span>
								</mat-radio-button>
								<p *ngIf="payment.cvvNote" class="cvv-note">
									CVV not needed <a href="#">Why?</a>
								</p>
							</div>
						</mat-radio-group>
					</div> -->
				</div>

				<!-- Order Summary -->
				<div class="order-summary">
					<!-- <button
						mat-raised-button
						color="accent"
						(click)="confirmPayment()"
					>
						Use this payment method
					</button> -->
					<p>
						Order Total:
						<span class="total-price">₹{{ orderTotal }}</span>
					</p>
				</div>

				<!-- Another Payment Methods Section -->
				<div class="payment-methods">
					<h4>Another payment method</h4>
					<mat-radio-group
						[(ngModel)]="selectedPaymentMethod"
						class="d-flex flex-column gap-3"
					>
						<!-- Credit/Debit Card -->
						<mat-radio-button
							[value]="'credit-card'"
							class="d-flex flex-column"
						>
							<div>Credit or debit card</div>
							<div>
								<span class="card-icons">
									<img
										*ngFor="let card of paymentIcons"
										[src]="card.src"
										[alt]="card.alt"
										loading="lazy"
									/>
								</span>
							</div>
						</mat-radio-button>

						<!-- Net Banking -->
						<mat-radio-button [value]="'net-banking'">
							Net Banking
							<mat-select placeholder="Choose an Option">
								<mat-option
									*ngFor="let bank of paymentMethods"
									[value]="bank"
									>{{ bank }}</mat-option
								>
							</mat-select>
						</mat-radio-button>

						<!-- Other UPI Apps -->
						<mat-radio-button [value]="'upi'"
							>Other UPI Apps</mat-radio-button
						>

						<!-- EMI Unavailable -->
						<mat-radio-button [disabled]="true">
							EMI Unavailable <a href="#">Why?</a>
						</mat-radio-button>

						<!-- Cash on Delivery -->
						<mat-radio-button [value]="'cod'">
							Cash on Delivery/Pay on Delivery
							<p class="small-text">
								Cash, UPI, and Cards accepted.
								<a href="#">Know more.</a>
							</p>
						</mat-radio-button>
					</mat-radio-group>
				</div>

				<!-- Confirm Payment Button -->
				<button
					mat-button
					class="yellow-btn d-flex m-auto"
					[disabled]="!selectedPaymentMethod"
				>
					Use this payment method
				</button>
			</div>
		</div>
	</div>
	<div class="col-3">
		<button mat-flat-button (click)="placeOrder()" class="buy-add-btn mb-4">
			Place your order
		</button>
		<div
			class="border p-4 d-flex flex-column bg-white cart-container"
			*ngIf="selectedNovels.length > 0"
		>
			<h5 class="m-auto">Your Items</h5>
			<div *ngFor="let novel of selectedNovels" class="novel-item">
				<div class="row p-2 mb-2">
					<div class="col-6">
						<img
							*ngIf="novel.novelId.images?.length"
							[src]="novel.novelId.images[0]"
							alt="{{ novel.novelId.title }}"
							width="100"
							height="120"
							loading="lazy"
						/>
					</div>
					<div class="col-6 novel-deets">
						<h4>{{ novel.novelId.title }}</h4>
						<span
							><strong>Quantity:</strong>
							{{ novel.quantity }}</span
						>
						<p>
							<strong>Price:</strong> ₹{{ novel.novelId.price }}
						</p>
					</div>
				</div>
			</div>
			<p>
				<strong>
					Order Total:
					<span class="total-price">₹{{ orderTotal }}</span>
				</strong>
			</p>
		</div>
	</div>
</div>
