<div class="py-4 container" *ngIf="novelDetails">
	<div class="d-flex flex-wrap gap-3 justify-content-center">
		<!-- <div class="border p-4 d-flex flex-column"> -->
			<div class="novel-card">
				<div *ngIf="cartQuantity > 0" class="cart-badge">
					{{ cartQuantity }} in cart
				</div>
				<h3 class="mt-3">{{ novelDetails.title }}</h3>
				<div class="d-flex flex-column gap-2">
					<span *ngIf="novelDetails.author"
						>Author: {{ novelDetails.author }}</span
					>
					<span>Category: {{ novelDetails.category }}</span>
					<span>Price: &#8377;{{ novelDetails.price }}</span>
				</div>
				<div class="add-to-cart">
					<button
						mat-flat-button
						(click)="addToCart()"
						[disabled]="buyBtnDisabled()"
						class="buy-add-btn"
					>
						Add to Cart
					</button>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>
