<div class="py-4 container">
	<div class="d-flex align-items-center gap-3 justify-content-around">
		<div *ngFor="let novel of novels" class="border p-2 d-flex flex-column">
			<h3>{{ novel.title }}</h3>
			<div class="d-flex flex-column gap-2">
				<span>Category: {{ novel.category }}</span>
				<span>Quantity: {{ novel.quantity }}</span>
				<span>Price: {{ novel.price }}</span>
			</div>
			<div class="d-flex">
				<button mat-button>Add to Cart</button>
				<button mat-button>Buy Now</button>
			</div>
		</div>
	</div>
</div>
