<div class="py-4 container">
	<div *ngIf="isLoading" class="loading-overlay">
		<mat-spinner [diameter]="50"></mat-spinner>
	</div>
	<div
		class="d-flex flex-wrap gap-2 justify-content-center"
		*ngIf="!isLoading"
	>
		<div
			*ngFor="let novel of novels"
			class="border p-4 d-flex flex-column novel-card"
		>
			<div
				*ngIf="novel.cartQuantity && novel.cartQuantity > 0"
				class="cart-badge"
			>
				{{ novel.cartQuantity }} in cart
			</div>
			<div
				(click)="goToNovelDetails(novel.id)"
				class="cursor-pointer card-container"
			>
			<!-- <img *ngIf="novel.images?.length" [src]="novel.images[0]" alt="{{ novel.title }}" class="novel-image" /> -->
				<h3>{{ novel.title }}</h3>
				<div class="d-flex flex-column gap-2">
					<span *ngIf="novel.author">Author: {{ novel.author }}</span>
					<span>Category: {{ novel.category }}</span>
					<!-- <span *ngIf="novel.quantity"
						>Quantity: {{ novel.quantity }}</span
					> -->
					<span>Price: &#8377;{{ novel.price }}</span>
				</div>
			</div>
			<div class="add-to-cart">
				<button
					mat-flat-button
					(click)="addToCart(novel)"
					class="buy-add-btn"
					[disabled]="buyBtnDisabled(novel)"
				>
					Add to Cart
				</button>
			</div>
		</div>
	</div>
</div>
