/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: rgb(247 248 248);
}

.cursor-pointer {
	cursor: pointer;
}
.yellow-btn {
	border-radius: 4px !important;
	background-color: #f6f637 !important;
	color: black !important;
}
.buy-add-btn {
	border-radius: 4px !important;
}

.add-to-cart {
	// text-align: end;
	display: flex;
	justify-content: flex-end; /* Aligns the button to the right */
	margin-top: auto;
}
