.border-box {
	display: flex;
	border: 1px #d5d9d9 solid;
	padding: 10px;
	border-radius: 4px;
	gap: 5px;
	align-items: center;
	width: 22rem;
	cursor: pointer;
}

.custom-icon-size {
	font-size: 4rem;
	width: 4rem;
	height: 4rem;
}

.add-icon-size {
	font-size: 3rem;
	width: 3rem;
	height: 3rem;
}
