<div class="my-4 px-3 py-4 container max-width-container">
	<h4>MY ACCOUNT</h4>
	<div class="d-flex gap-3 flex-wrap">
		<div
			class="border-box"
			(click)="goToMyProfile()"
			(keydown.enter)="goToMyProfile()"
			(keydown.space)="goToMyProfile()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<img
					src="information.png"
					alt="basic-info"
					height="50"
					width="50"
				/>
			</div>
			<div>
				<h5>Basic Info</h5>
				<span>Edit email, name, mobile number</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToMyAddresses()"
			(keydown.enter)="goToMyAddresses()"
			(keydown.space)="goToMyAddresses()"
			tabindex="0"
			role="button"
		>
			<div>
				<img src="address.png" alt="address" height="60" width="60" />
			</div>
			<div>
				<h5>My Addresses</h5>
				<span>Add, edit or delete addresses</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToMyOrders()"
			(keydown.enter)="goToMyOrders()"
			(keydown.space)="goToMyOrders()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<img src="order.png" alt="order" height="65" width="65" />
			</div>
			<div>
				<h5>My Orders</h5>
				<span>Track orders</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToSellingOrders()"
			(keydown.enter)="goToSellingOrders()"
			(keydown.space)="goToSellingOrders()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<img src="order.png" alt="order" height="65" width="65" />
			</div>
			<div>
				<h5>Selling Orders</h5>
				<span>Track Selling Orders</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToWishList()"
			(keydown.enter)="goToWishList()"
			(keydown.space)="goToWishList()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<mat-icon class="custom-icon-size">favorite</mat-icon>
			</div>
			<div>
				<h5>My Wishlist</h5>
				<span>Edit, view wishlist</span>
			</div>
		</div>
		<div
			*ngIf="userInfo?.role === 'superadmin'"
			class="border-box"
			(click)="addCategoryDialog()"
			(keydown.enter)="addCategoryDialog()"
			(keydown.space)="addCategoryDialog()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<mat-icon class="add-icon-size">add_circle</mat-icon>
			</div>
			<div>
				<h5>Add Category</h5>
				<span>Add Category</span>
			</div>
		</div>
		<div
			*ngIf="userInfo?.role === 'superadmin'"
			class="border-box"
			(click)="addAuthorDialog()"
			(keydown.enter)="addAuthorDialog()"
			(keydown.space)="addAuthorDialog()"
			tabindex="0"
			role="button"
		>
			<div class="p-1">
				<mat-icon class="add-icon-size">add_circle</mat-icon>
			</div>
			<div>
				<h5>Add Author</h5>
				<span>Add Author</span>
			</div>
		</div>
	</div>
</div>
