<div class="my-4 px-3 py-4 container max-width-container">
	<h4>MY ACCOUNT</h4>
	<div class="d-flex gap-3 flex-wrap">
		<div
			class="border-box"
			(click)="goToMyProfile()"
			(keydown.enter)="goToMyProfile()"
			(keydown.space)="goToMyProfile()"
			tabindex="0"
			role="button"
		>
			<div>
				<img
					src="information.png"
					alt="basic-info"
					height="50"
					width="50"
				/>
			</div>
			<div>
				<h5>Basic Info</h5>
				<span>Edit email, name, mobile number</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToMyOrders()"
			(keydown.enter)="goToMyOrders()"
			(keydown.space)="goToMyOrders()"
			tabindex="0"
			role="button"
		>
			<div>
				<img src="order.png" alt="order" height="65" width="65" />
			</div>
			<div>
				<h5>My Orders</h5>
				<span>Track orders</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToMyAddresses()"
			(keydown.enter)="goToMyAddresses()"
			(keydown.space)="goToMyAddresses()"
			tabindex="0"
			role="button"
		>
			<div>
				<img src="address.png" alt="address" height="65" width="65" />
			</div>
			<div>
				<h5>My Addresses</h5>
				<span>Add, edit or delete addresses</span>
			</div>
		</div>
		<div
			class="border-box"
			(click)="goToWishList()"
			(keydown.enter)="goToWishList()"
			(keydown.space)="goToWishList()"
			tabindex="0"
			role="button"
		>
			<div>
				<mat-icon class="custom-icon-size">favorite</mat-icon>
			</div>
			<div>
				<h5>My Wishlist</h5>
				<span>Edit, view wishlist</span>
			</div>
		</div>
	</div>
</div>
