<div class="py-5 container main-container">
	<h3>My Account</h3>
	<div class="d-flex gap-3">
		<div class="border-box">
			<div>
				<img
					src="information.png"
					alt="basic-info"
					height="50"
					width="50"
				/>
			</div>
			<div>
				<h5>Basic Info</h5>
				<span>Edit email, name, mobile number</span>
			</div>
		</div>
		<div class="border-box">
			<div>
				<img src="order.png" alt="order" height="65" width="65" />
			</div>
			<div>
				<h5>My Orders</h5>
				<span>Track orders</span>
			</div>
		</div>
		<div class="border-box">
			<div>
				<img src="address.png" alt="address" height="65" width="65" />
			</div>
			<div>
				<h5>My Addresses</h5>
				<span>Add, edit or delete addresses</span>
			</div>
		</div>
	</div>
</div>
