<div
	class="novel-list"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="150"
	(scrolled)="fetchNovels()"
>
	<div class="py-4 container">
		<!-- Loading Spinner -->
		<div *ngIf="isLoading && novels.length === 0" class="loading-overlay">
			<mat-spinner [diameter]="50"></mat-spinner>
		</div>
		<button mat-button (click)="clearSearch()">Clear Search</button>
		<div class="category-section" *ngIf="novels">
			<div class="d-flex flex-wrap gap-2">
				<div
					*ngFor="
						let novel of filterNovelsBySearchTerm();
						trackBy: trackByNovelId
					"
					class="border p-4 d-flex flex-column novel-card"
				>
					<div
						*ngIf="novel.cartQuantity && novel.cartQuantity > 0"
						class="cart-badge"
					>
						{{ novel.cartQuantity }} in cart
					</div>

					<!-- Edit Button -->
					<button
						mat-icon-button
						class="edit-btn"
						(click)="editNovel(novel)"
						[disabled]="!isLoggedIn"
					>
						<mat-icon class="edit-icon">edit</mat-icon>
					</button>

					<!-- Novel Card -->
					<div
						(click)="goToNovelDetails(novel.id)"
						(keydown.enter)="goToNovelDetails(novel.id)"
						(keydown.space)="goToNovelDetails(novel.id)"
						tabindex="0"
						role="button"
						class="cursor-pointer card-container"
						*ngIf="novel.images"
					>
						<img
							*ngIf="novel.images?.length"
							[src]="novel.images[0]"
							alt="{{ novel.title }}"
							width="100"
							height="150"
						/>
						<h6>{{ novel.title }}</h6>
						<div class="d-flex flex-column gap-2">
							<span *ngIf="novel.author"
								><strong>Author:</strong>
								{{ novel.author }}</span
							>
							<span *ngIf="novel.bookCondition"
								><strong>Condition:</strong>
								{{
									getBookCondition(novel.bookCondition)
								}}</span
							>
							<span class="price-container"
								><span class="price-symbol">&#8377;</span
								><span class="price">{{ novel.price }}</span>
								<del *ngIf="novel.mrp" class="mrp-font"
									>M.R.P.:&#8377;{{ novel.mrp }}</del
								></span
							>
						</div>
					</div>

					<!-- Add to Cart -->
					<div class="add-to-cart" *ngIf="isLoggedIn">
						<button
							mat-flat-button
							(click)="
								addToCart(
									novel.id,
									novel.cartQuantity === 0
										? 1
										: novel.cartQuantity + 1
								)
							"
							class="buy-add-btn"
							[disabled]="buyBtnDisabled(novel)"
						>
							Add to Cart
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Load More Spinner -->
		<div
			*ngIf="isLoadingMore && novels.length > 0"
			class="text-center mt-3"
		>
			<mat-spinner [diameter]="40"></mat-spinner>
		</div>
	</div>
</div>
